.footer {
  height: 120px;
  background-image: url(../img/footer.png);
  background-size: cover;
  background-position: bottom;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  @media (max-width: 1600px) {
    height: 100px;
  }
  @media (max-width: 1280px) {
    height: 80px;
  }
  @media (max-width: 960px) {
    margin-top: 50px;
    padding-top: 20px;
  }
}
